<ion-view title="Event" id="page10">
  <ion-content padding="true" class="has-header">
    <div id="event-markdown8" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Event: {{eventTitle}}
        <br>Paper: {{customLabel}}
        <br>Chair: {{chair}}
        <br>Date: {{date}}
        <br>Start: {{startTime}}
        <br>End: {{endTime}}
        <br>Meal: {{mealType}}
        <br>Room: {{room}}
        <br>Subject Area: {{subjectArea}}
        <br>Notes: {{note}}</p>
    </div>
  </ion-content>
</ion-view>