<ion-view title="Hotel Interior" id="page8">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/lNhcj68QhGAQGS6Hnfvw_lv1better.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/4Z2wrMZTcKcaMwpddWV3_lv2.PNG" style="display: block; width: 85%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/htdGRa5aQMy6YDr1f302_lv3.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>