<ion-view title="iSCAP Home" id="page1" style="background-color:#FFFFFF;">
  <ion-content padding="true" style="background: url(img/jgEz3KJ3SlKcUJ2rUQ0s_las-vegas-strip-night-1.jpg) no-repeat center;background-size:cover;" class=" manual-remove-top-padding has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/Aboj5C0cQ6i04IN6m2W1_iscaplogo.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="iSCAPHome-markdown1" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;font-size:25px;">Welcome To </p>

      <p style="color:#FFFFFF;font-size:25px;">Edsigcon/Conisar </p>

      <p style="color:#FFFFFF;font-size:25px;">Thank you for downloading the app, please use the side menu to navigate through the app.</p>
    </div>
  </ion-content>
</ion-view>